<div class="contactusPage">
  <h1>Contact Us</h1>
  <div class="contentContainer">
    <div class="contactForm">
      <input class="inputField" type="text" placeholder="Your Name" />
      <input class="inputField" type="text" placeholder="Your Email" />
      <input class="inputField" type="text" placeholder="Contact Number" />
      <textarea class="inputField" rows="5" placeholder="Your Message.."> </textarea>
      <input class="submitBtn" type="submit" value="Submit" />
    </div>
    <div class="contactDetails">
      <h3>For your catering inquiries, <br> Please contact our Sales Department: </h3>
      <h4>We are pleased to reply any inquiry, send us any Question and one of our staff will reply ASAP.</h4>
      <h4>Ahbaab Catering, Gulistan-e-Jauhar</h4>
      <h4>Karachi - Pakistan</h4>
      <h4>Call : 0213-1234567</h4>
      <h4>Email : reservations@ahbaabcatering.com</h4>
    </div>
  </div>
</div>