
<div class="portfolioPage">
  <div class="portfolioContent">
      <h1>Our Portfolio</h1>
      <p>Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
        industry's standard dummy texen book. It has survived not only five centuries, but also 
        the leap iining esse.
      </p>
  </div>
<ngx-hm-carousel
  [(ngModel)]="currentIndex"

  show-num="auto"
  [breakpoint]="breakpoint"
  [autoplay-speed]="1500"
  [between-delay]="500"
  [infinite]="infinite"
  [drag-many]="true"
  [aniTime]="200"
  [data]="avatars"
  class="carousel c-accent">

  <section ngx-hm-carousel-container class="content">
    <article class="item cursor-pointer"
      ngx-hm-carousel-item
      *ngFor="let avatar of avatars; let i = index"
        [ngClass]="{'visible': currentIndex===i}">
      <div class="img d-flex justify-content-center align-items-center" (click)="click(i)"
        [style.backgroundImage]="'url('+avatar.url+')'">
        <!-- <h1>
          {{i}}
        </h1> -->
      </div>
    </article>
    <ng-template #infiniteContainer></ng-template>
  </section>

  <ng-template #carouselContent let-avatar let-i="index">
    <article class="item cursor-pointer"
      [ngClass]="{'visible': currentIndex===i}">
      <div class="img d-flex justify-content-center align-items-center" (click)="click(i)"
        [style.backgroundImage]="'url('+avatar.url+')'">
        <h1>
          {{i}}
        </h1>
      </div>
    </article>
  </ng-template>

  <ng-template #carouselPrev>
    <div class="click-area">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
  </ng-template>
  <ng-template #carouselNext>
    <div class="click-area">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
  </ng-template>

  <ng-template #carouselDot let-model>
    <div class="ball bg-accent"
      [class.visible]="model.index === model.currentIndex"></div>
  </ng-template>

  <ng-template #carouselProgress let-progress>
    <div class="progress"></div>
  </ng-template>

</ngx-hm-carousel>
</div>