
  <div class="corporateCateringPage">
    <div class="contentContainer">
      <div class="content">
        <h1>Corporate</h1>
        <p>
          Ahbaab Catering holds its status and position in the industry because of its ability to 
          consistently deliver excellent quality food professionally. What sets us apart from our 
          competitors is our commitment to service, innovation and demonstrated experience working 
          on corporate events
        </p>
        <p>
          In addition to providing high quality and innovative catering solutions for your events; 
          from boardroom lunches, product launches, gala events and in office parties to large scale 
          events and conferences; Ahbaab Catering is committed to providing professional and quality 
          service to our corporate clients. Contact us for more information on what is available to 
          suit your next event.
        </p>
        <p>
            In addition to providing high quality and innovative catering solutions for your events; 
            from boardroom lunches, product launches, gala events and in office parties to large scale 
            events and conferences; Ahbaab Catering is committed to providing professional and quality 
            service to our corporate clients. Contact us for more information on what is available to 
            suit your next event.
        </p>
      </div>
      <div class="imgContainer">
        <img src="../../../assets/images/corporate-catering.jpg" alt="corporate-catering" />
      </div>
    </div>
  </div>