<div class="weddingsPage">
  <div class="contentContainer">
    <h1> Weddings </h1>
    <div class="paragraphContainer">
      <div>
        <p>
          Celebrate your special day with Ahbaab Catering in one of our exclusive or preferred venues, 
          or in a private location. With over 20 years experience in delivering weddings, we can suggest 
          the very best catering options for your wedding day to suit your location, your style and the 
          number of guests.
        </p>
        <p>
          Ahbaab Catering is proud to have been a part of hundreds of weddings and to 
          ensure that each event was as special and personalized as the first. Our team of chefs can 
          provide a premium quality menu for your wedding reception that caters for a wide range of tastes.
        </p>
        <p>
          Our experience working on weddings means that we know what works well and we are happy to make 
          suggestions to ensure that your wedding day is an overwhelming success.
        </p>
        <p>
          You can select from one of our wedding reception packages, or speak with our event managers to 
          create a menu and beverage option to suit your needs. 
        </p>
      </div>
    </div>
  </div>
</div>